time to communte high
income low
children population high
geo child care centre (no)

a new Fee Subsidy child care centre

In [ ]:
grocery store target income above median

## Data

1. Neigborhood Crime Rates from Toronto Polic Service
https://data.torontopolice.on.ca/datasets/neighbourhood-crime-rates-boundary-file-

2. Neighborhood Profiles from City of Toronto's Open Data Portal
https://open.toronto.ca/dataset/neighbourhood-profiles/

3. Foursquare API

In [2]:
import pandas as pd

### Finding crime rates in each neighborhood in 2014-2019 (Include only Break and Enter, Robbery, Theft Over)

In [8]:
import pandas as pd

In [9]:
crime_rates_df=pd.read_csv("crime_rates.csv")
crime_rates_df

,OBJECTID,Neighbourhood,Hood_ID,Population,Assault_2014,Assault_2015,Assault_2016,Assault_2017,Assault_2018,Assault_2019,...,TheftOver_2015,TheftOver_2016,TheftOver_2017,TheftOver_2018,TheftOver_2019,TheftOver_AVG,TheftOver_CHG,TheftOver_Rate_2019,Shape__Area,Shape__Length
0,1,Yonge-St.Clair,97,12528,20,29,39,27,34,37,...,5,8,0,3,6,4.3,1.00,47.9,1.161315e+06,5873.270582
1,2,York University Heights,27,27593,271,296,361,344,357,370,...,46,37,39,38,28,36.3,-0.26,101.5,1.324666e+07,18504.777326
2,3,Lansing-Westgate,38,16164,44,80,68,85,75,72,...,5,5,11,6,11,7.0,0.83,68.1,5.346186e+06,11112.109625
3,4,Yorkdale-Glen Park,31,14804,106,136,174,161,175,209,...,14,26,23,20,29,22.5,0.45,195.9,6.038326e+06,10079.426920
4,5,Stonegate-Queensway,16,25051,88,71,76,95,87,82,...,8,4,6,7,4,6.0,-0.43,16.0,7.946202e+06,11853.189878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,136,Milliken,130,26572,66,92,88,80,78,99,...,14,10,19,18,22,16.5,0.22,82.8,9.477859e+06,16781.477343
136,137,Pleasant View,46,15818,34,50,58,53,37,44,...,5,3,4,5,4,3.8,-0.20,25.3,2.967493e+06,7944.829848
137,138,Wychwood,94,14349,54,76,86,55,76,74,...,1,4,4,2,0,2.3,-1.00,0.0,1.682111e+06,5435.021879
138,139,Leaside-Bennington,56,16828,38,27,33,35,33,31,...,5,2,4,4,7,5.2,0.75,41.6,4.784766e+06,14836.618578
139,140,Briar Hill-Belgravia,108,14257,65,81,64,70,84,78,...,2,4,4,4,7,5.0,0.75,49.1,1.830325e+06,6289.707274

In [10]:
crime_rates_df2 = crime_rates_df[["Neighbourhood","Population", "BreakandEnter_AVG", "Robbery_AVG", "TheftOver_AVG"]]
crime_rates_df2

,Neighbourhood,Population,BreakandEnter_AVG,Robbery_AVG,TheftOver_AVG
0,Yonge-St.Clair,12528,23.3,5.7,4.3
1,York University Heights,27593,113.2,75.8,36.3
2,Lansing-Westgate,16164,38.8,14.7,7.0
3,Yorkdale-Glen Park,14804,63.3,31.5,22.5
4,Stonegate-Queensway,25051,52.8,20.7,6.0
...,...,...,...,...,...
135,Milliken,26572,108.3,32.7,16.5
136,Pleasant View,15818,19.8,11.8,3.8
137,Wychwood,14349,34.0,13.8,2.3
138,Leaside-Bennington,16828,33.3,7.5,5.2
139,Briar Hill-Belgravia,14257,36.7,21.5,5.0

In [11]:
crime_rates_df2["Total crime rate"] = crime_rates_df2.iloc[:, 2:5].sum(axis=1)
crime_rates_df2["Total crime rate per capita"] = crime_rates_df2["Total crime rate"] / crime_rates_df2["Population"]

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
crime_rates_df2

,Neighbourhood,Population,BreakandEnter_AVG,Robbery_AVG,TheftOver_AVG,Total crime rate,Total crime rate per capita
0,Yonge-St.Clair,12528,23.3,5.7,4.3,33.3,0.002658
1,York University Heights,27593,113.2,75.8,36.3,225.3,0.008165
2,Lansing-Westgate,16164,38.8,14.7,7.0,60.5,0.003743
3,Yorkdale-Glen Park,14804,63.3,31.5,22.5,117.3,0.007924
4,Stonegate-Queensway,25051,52.8,20.7,6.0,79.5,0.003174
...,...,...,...,...,...,...,...
135,Milliken,26572,108.3,32.7,16.5,157.5,0.005927
136,Pleasant View,15818,19.8,11.8,3.8,35.4,0.002238
137,Wychwood,14349,34.0,13.8,2.3,50.1,0.003492
138,Leaside-Bennington,16828,33.3,7.5,5.2,46.0,0.002734
139,Briar Hill-Belgravia,14257,36.7,21.5,5.0,63.2,0.004433

### Finding percentage of household income over 60k in each neighborhood

In [13]:
neigh_profile=pd.read_csv("neighborhood_profiles_2016b.csv")
neigh_profile

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,2379,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Migrants,"400,950","3,170","3,145",925,"6,390",...,"3,765","2,270","7,260",985,620,"1,350","2,425","2,310","4,965","1,345"
2379,2380,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Internal migrants,"184,120",880,980,680,"3,930",...,"1,545","1,110","1,720",610,395,780,"1,260","1,355","1,700",580
2380,2381,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Intraprovincial migrants,"141,135",735,760,615,"2,630",...,"1,070",960,"1,400",350,320,570,970,"1,025","1,490",445
2381,2382,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Interprovincial migrants,"42,985",135,220,70,"1,310",...,475,150,335,250,85,210,290,325,195,135
2382,2383,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,External migrants,"216,835","2,280","2,170",245,"2,460",...,"2,220","1,175","5,540",395,220,575,"1,160",955,"3,285",775

In [14]:
household_df=neigh_profile.iloc[1054:1071, 4:]
household_df

,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
1054,Total - Household after-tax income groups in 2...,"1,112,930","9,115","8,140","4,620","15,940","12,125","6,090","15,070","9,525",...,"7,550","8,510","18,430","5,455","3,450","5,880","5,680","7,010","10,165","5,345"
1055,"Under $5,000","34,795",150,320,70,905,300,130,"2,545",610,...,575,105,435,70,60,135,215,240,350,115
1056,"$5,000 to $9,999","23,615",105,130,35,485,150,85,740,255,...,215,80,470,125,60,125,105,125,220,70
1057,"$10,000 to $14,999","37,080",165,205,80,660,245,150,745,290,...,265,155,685,260,110,185,140,190,350,120
1058,"$15,000 to $19,999","55,930",450,275,85,785,435,430,720,355,...,610,305,"1,160",325,200,405,190,220,540,225
1059,"$20,000 to $24,999","51,910",340,350,160,680,430,275,620,405,...,370,405,905,295,175,380,210,255,555,275
1060,"$25,000 to $29,999","52,205",565,415,175,625,495,240,610,385,...,330,430,"1,020",225,145,245,215,250,580,275
1061,"$30,000 to $34,999","53,515",450,395,170,630,500,250,570,435,...,315,380,"1,035",220,140,265,230,280,650,300
1062,"$35,000 to $39,999","55,545",510,450,210,675,575,300,570,405,...,310,450,"1,060",220,140,290,255,310,645,335
1063,"$40,000 to $44,999","55,770",455,470,185,645,555,310,535,415,...,300,455,"1,075",220,165,280,240,330,635,305
1064,"$45,000 to $49,999","53,385",475,445,225,665,575,260,565,430,...,295,390,"1,020",210,140,225,240,315,565,285
1065,"$50,000 to $59,999","98,910",930,860,390,"1,160","1,180",500,"1,080",825,...,490,805,"1,905",360,290,500,475,625,"1,065",500
1066,"$60,000 to $69,999","86,755",755,755,355,"1,060","1,000",495,"1,085",785,...,485,685,"1,545",325,235,400,415,475,870,445
1067,"$70,000 to $79,999","75,120",695,630,365,820,790,420,895,695,...,465,600,"1,315",285,245,380,345,450,715,365
1068,"$80,000 to $89,999","63,360",640,500,310,750,690,350,650,545,...,420,555,"1,070",320,245,305,255,335,575,290
1069,"$90,000 to $99,999","51,570",500,405,265,620,595,305,480,435,...,315,435,850,265,185,250,240,305,435,270
1070,"$100,000 and over","263,465","1,920","1,500","1,520","4,755","3,600","1,585","2,665","2,275",...,"1,785","2,245","2,865","1,730",925,"1,510","1,915","2,305","1,395","1,185"

In [16]:
household_df2 = household_df.transpose()
household_df2

,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
Characteristic,Total - Household after-tax income groups in 2...,"Under $5,000","$5,000 to $9,999","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $69,999","$70,000 to $79,999","$80,000 to $89,999","$90,000 to $99,999","$100,000 and over"
City of Toronto,"1,112,930","34,795","23,615","37,080","55,930","51,910","52,205","53,515","55,545","55,770","53,385","98,910","86,755","75,120","63,360","51,570","263,465"
Agincourt North,"9,115",150,105,165,450,340,565,450,510,455,475,930,755,695,640,500,"1,920"
Agincourt South-Malvern West,"8,140",320,130,205,275,350,415,395,450,470,445,860,755,630,500,405,"1,500"
Alderwood,"4,620",70,35,80,85,160,175,170,210,185,225,390,355,365,310,265,"1,520"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wychwood,"5,880",135,125,185,405,380,245,265,290,280,225,500,400,380,305,250,"1,510"
Yonge-Eglinton,"5,680",215,105,140,190,210,215,230,255,240,240,475,415,345,255,240,"1,915"
Yonge-St.Clair,"7,010",240,125,190,220,255,250,280,310,330,315,625,475,450,335,305,"2,305"
York University Heights,"10,165",350,220,350,540,555,580,650,645,635,565,"1,065",870,715,575,435,"1,395"
Yorkdale-Glen Park,"5,345",115,70,120,225,275,275,300,335,305,285,500,445,365,290,270,"1,185"

In [17]:
household_df3=household_df2.drop(household_df2.columns[1:12],axis=1)
household_df3

,1054,1066,1067,1068,1069,1070
Characteristic,Total - Household after-tax income groups in 2...,"$60,000 to $69,999","$70,000 to $79,999","$80,000 to $89,999","$90,000 to $99,999","$100,000 and over"
City of Toronto,"1,112,930","86,755","75,120","63,360","51,570","263,465"
Agincourt North,"9,115",755,695,640,500,"1,920"
Agincourt South-Malvern West,"8,140",755,630,500,405,"1,500"
Alderwood,"4,620",355,365,310,265,"1,520"
...,...,...,...,...,...,...
Wychwood,"5,880",400,380,305,250,"1,510"
Yonge-Eglinton,"5,680",415,345,255,240,"1,915"
Yonge-St.Clair,"7,010",475,450,335,305,"2,305"
York University Heights,"10,165",870,715,575,435,"1,395"
Yorkdale-Glen Park,"5,345",445,365,290,270,"1,185"

In [18]:
household_df3.columns = ['total', '60000-69999','70000-79999','80000-89999','90000-99999','over 100000']

In [19]:
household_df4 = household_df3.drop('Characteristic')
household_df4

,total,60000-69999,70000-79999,80000-89999,90000-99999,over 100000
City of Toronto,"1,112,930","86,755","75,120","63,360","51,570","263,465"
Agincourt North,"9,115",755,695,640,500,"1,920"
Agincourt South-Malvern West,"8,140",755,630,500,405,"1,500"
Alderwood,"4,620",355,365,310,265,"1,520"
Annex,"15,940","1,060",820,750,620,"4,755"
...,...,...,...,...,...,...
Wychwood,"5,880",400,380,305,250,"1,510"
Yonge-Eglinton,"5,680",415,345,255,240,"1,915"
Yonge-St.Clair,"7,010",475,450,335,305,"2,305"
York University Heights,"10,165",870,715,575,435,"1,395"
Yorkdale-Glen Park,"5,345",445,365,290,270,"1,185"

In [20]:
def convert_comma(val):
    """
    Convert the string number value to a float
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','')
    return float(new_val)

In [21]:
household_df4["total"] = household_df4["total"].apply(convert_comma)
household_df4["60000-69999"] = household_df4["60000-69999"].apply(convert_comma)
household_df4["70000-79999"] = household_df4["70000-79999"].apply(convert_comma)
household_df4["80000-89999"] = household_df4["80000-89999"].apply(convert_comma)
household_df4["90000-99999"] = household_df4["90000-99999"].apply(convert_comma)
household_df4["over 100000"] = household_df4["over 100000"].apply(convert_comma)
household_df4

,total,60000-69999,70000-79999,80000-89999,90000-99999,over 100000
City of Toronto,1112930.0,86755.0,75120.0,63360.0,51570.0,263465.0
Agincourt North,9115.0,755.0,695.0,640.0,500.0,1920.0
Agincourt South-Malvern West,8140.0,755.0,630.0,500.0,405.0,1500.0
Alderwood,4620.0,355.0,365.0,310.0,265.0,1520.0
Annex,15940.0,1060.0,820.0,750.0,620.0,4755.0
...,...,...,...,...,...,...
Wychwood,5880.0,400.0,380.0,305.0,250.0,1510.0
Yonge-Eglinton,5680.0,415.0,345.0,255.0,240.0,1915.0
Yonge-St.Clair,7010.0,475.0,450.0,335.0,305.0,2305.0
York University Heights,10165.0,870.0,715.0,575.0,435.0,1395.0
Yorkdale-Glen Park,5345.0,445.0,365.0,290.0,270.0,1185.0

In [22]:
household_df4['Total over 60k']=household_df4.iloc[:, 1:6].sum(axis=1)
household_df4

,total,60000-69999,70000-79999,80000-89999,90000-99999,over 100000,Total over 60k
City of Toronto,1112930.0,86755.0,75120.0,63360.0,51570.0,263465.0,540270.0
Agincourt North,9115.0,755.0,695.0,640.0,500.0,1920.0,4510.0
Agincourt South-Malvern West,8140.0,755.0,630.0,500.0,405.0,1500.0,3790.0
Alderwood,4620.0,355.0,365.0,310.0,265.0,1520.0,2815.0
Annex,15940.0,1060.0,820.0,750.0,620.0,4755.0,8005.0
...,...,...,...,...,...,...,...
Wychwood,5880.0,400.0,380.0,305.0,250.0,1510.0,2845.0
Yonge-Eglinton,5680.0,415.0,345.0,255.0,240.0,1915.0,3170.0
Yonge-St.Clair,7010.0,475.0,450.0,335.0,305.0,2305.0,3870.0
York University Heights,10165.0,870.0,715.0,575.0,435.0,1395.0,3990.0
Yorkdale-Glen Park,5345.0,445.0,365.0,290.0,270.0,1185.0,2555.0

In [23]:
household_df4['Percentage over 60k']=household_df4['Total over 60k']/household_df4['total']
household_df4

,total,60000-69999,70000-79999,80000-89999,90000-99999,over 100000,Total over 60k,Percentage over 60k
City of Toronto,1112930.0,86755.0,75120.0,63360.0,51570.0,263465.0,540270.0,0.485448
Agincourt North,9115.0,755.0,695.0,640.0,500.0,1920.0,4510.0,0.494789
Agincourt South-Malvern West,8140.0,755.0,630.0,500.0,405.0,1500.0,3790.0,0.465602
Alderwood,4620.0,355.0,365.0,310.0,265.0,1520.0,2815.0,0.609307
Annex,15940.0,1060.0,820.0,750.0,620.0,4755.0,8005.0,0.502196
...,...,...,...,...,...,...,...,...
Wychwood,5880.0,400.0,380.0,305.0,250.0,1510.0,2845.0,0.483844
Yonge-Eglinton,5680.0,415.0,345.0,255.0,240.0,1915.0,3170.0,0.558099
Yonge-St.Clair,7010.0,475.0,450.0,335.0,305.0,2305.0,3870.0,0.552068
York University Heights,10165.0,870.0,715.0,575.0,435.0,1395.0,3990.0,0.392523
Yorkdale-Glen Park,5345.0,445.0,365.0,290.0,270.0,1185.0,2555.0,0.478017

Toronto percentage over 60k = 0.485448

In [24]:
household_df5 = household_df4.drop('City of Toronto')
household_df5

,total,60000-69999,70000-79999,80000-89999,90000-99999,over 100000,Total over 60k,Percentage over 60k
Agincourt North,9115.0,755.0,695.0,640.0,500.0,1920.0,4510.0,0.494789
Agincourt South-Malvern West,8140.0,755.0,630.0,500.0,405.0,1500.0,3790.0,0.465602
Alderwood,4620.0,355.0,365.0,310.0,265.0,1520.0,2815.0,0.609307
Annex,15940.0,1060.0,820.0,750.0,620.0,4755.0,8005.0,0.502196
Banbury-Don Mills,12125.0,1000.0,790.0,690.0,595.0,3600.0,6675.0,0.550515
...,...,...,...,...,...,...,...,...
Wychwood,5880.0,400.0,380.0,305.0,250.0,1510.0,2845.0,0.483844
Yonge-Eglinton,5680.0,415.0,345.0,255.0,240.0,1915.0,3170.0,0.558099
Yonge-St.Clair,7010.0,475.0,450.0,335.0,305.0,2305.0,3870.0,0.552068
York University Heights,10165.0,870.0,715.0,575.0,435.0,1395.0,3990.0,0.392523
Yorkdale-Glen Park,5345.0,445.0,365.0,290.0,270.0,1185.0,2555.0,0.478017

In [25]:
household_df5.index.name='Neighbourhood'
household_df5

,total,60000-69999,70000-79999,80000-89999,90000-99999,over 100000,Total over 60k,Percentage over 60k
Neighbourhood,,,,,,,,
Agincourt North,9115.0,755.0,695.0,640.0,500.0,1920.0,4510.0,0.494789
Agincourt South-Malvern West,8140.0,755.0,630.0,500.0,405.0,1500.0,3790.0,0.465602
Alderwood,4620.0,355.0,365.0,310.0,265.0,1520.0,2815.0,0.609307
Annex,15940.0,1060.0,820.0,750.0,620.0,4755.0,8005.0,0.502196
Banbury-Don Mills,12125.0,1000.0,790.0,690.0,595.0,3600.0,6675.0,0.550515
...,...,...,...,...,...,...,...,...
Wychwood,5880.0,400.0,380.0,305.0,250.0,1510.0,2845.0,0.483844
Yonge-Eglinton,5680.0,415.0,345.0,255.0,240.0,1915.0,3170.0,0.558099
Yonge-St.Clair,7010.0,475.0,450.0,335.0,305.0,2305.0,3870.0,0.552068
York University Heights,10165.0,870.0,715.0,575.0,435.0,1395.0,3990.0,0.392523
Yorkdale-Glen Park,5345.0,445.0,365.0,290.0,270.0,1185.0,2555.0,0.478017

In [26]:
df_merged=pd.merge(household_df5,crime_rates_df2, on="Neighbourhood")

In [27]:
df_merged

,Neighbourhood,total,60000-69999,70000-79999,80000-89999,90000-99999,over 100000,Total over 60k,Percentage over 60k,Population,BreakandEnter_AVG,Robbery_AVG,TheftOver_AVG,Total crime rate,Total crime rate per capita
0,Agincourt North,9115.0,755.0,695.0,640.0,500.0,1920.0,4510.0,0.494789,29113,53.5,30.2,4.7,88.4,0.003036
1,Agincourt South-Malvern West,8140.0,755.0,630.0,500.0,405.0,1500.0,3790.0,0.465602,23757,79.8,27.3,13.3,120.4,0.005068
2,Alderwood,4620.0,355.0,365.0,310.0,265.0,1520.0,2815.0,0.609307,12054,24.7,6.8,6.8,38.3,0.003177
3,Annex,15940.0,1060.0,820.0,750.0,620.0,4755.0,8005.0,0.502196,30526,147.5,40.8,29.5,217.8,0.007135
4,Banbury-Don Mills,12125.0,1000.0,790.0,690.0,595.0,3600.0,6675.0,0.550515,27695,73.2,15.0,10.3,98.5,0.003557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Wychwood,5880.0,400.0,380.0,305.0,250.0,1510.0,2845.0,0.483844,14349,34.0,13.8,2.3,50.1,0.003492
136,Yonge-Eglinton,5680.0,415.0,345.0,255.0,240.0,1915.0,3170.0,0.558099,11817,28.0,19.5,4.8,52.3,0.004426
137,Yonge-St.Clair,7010.0,475.0,450.0,335.0,305.0,2305.0,3870.0,0.552068,12528,23.3,5.7,4.3,33.3,0.002658
138,York University Heights,10165.0,870.0,715.0,575.0,435.0,1395.0,3990.0,0.392523,27593,113.2,75.8,36.3,225.3,0.008165
139,Yorkdale-Glen Park,5345.0,445.0,365.0,290.0,270.0,1185.0,2555.0,0.478017,14804,63.3,31.5,22.5,117.3,0.007924

In [72]:
df_merged2=df_merged.drop(columns=['total', '60000-69999', '70000-79999', '80000-89999', '90000-99999','over 100000', 'Total over 60k', 'BreakandEnter_AVG', 'Robbery_AVG', 'TheftOver_AVG'])

In [75]:
df_merged2.head()

,Neighbourhood,Percentage over 60k,Population,Total crime rate,Total crime rate per capita
0,Agincourt North,0.494789,29113,88.4,0.003036
1,Agincourt South-Malvern West,0.465602,23757,120.4,0.005068
2,Alderwood,0.609307,12054,38.3,0.003177
3,Annex,0.502196,30526,217.8,0.007135
4,Banbury-Don Mills,0.550515,27695,98.5,0.003557

KeyError: 1

In [30]:
CLIENT_ID = 'I34N2FUJWRUUAQOI5PPZ5B2ROPLBWLGLUFK3JIKKQOD3RA4F' 
CLIENT_SECRET = 'V2KV1BMXEFIDV2JMFJTKZKGNTVWGWOZGT0I5KK4RHPPCOUXE' 
VERSION = '20180605'

In [55]:
df_merged2['Neighbourhood']

0                   Agincourt North
1      Agincourt South-Malvern West
2                         Alderwood
3                             Annex
4                 Banbury-Don Mills
                   ...
135                        Wychwood
136                  Yonge-Eglinton
137                  Yonge-St.Clair
138         York University Heights
139              Yorkdale-Glen Park
Name: Neighbourhood, Length: 140, dtype: object

(13, 18)

In [1]:
!pip install geopy
from geopy.geocoders import Nominatim

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/ab/97/25def417bf5db4cc6b89b47a56961b893d4ee4fec0c335f5b9476a8ff153/geopy-1.22.0-py2.py3-none-any.whl (113kB)
     |████████████████████████████████| 122kB 5.9MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.22.0

In [67]:
address = 'Wychwood, Toronto, ON, Canada'

geolocator = Nominatim(user_agent="vic_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
melbourne_city_centre = (latitude, longitude)
print('The geographical coordinates of Agincourt North are {}, {}.'.format(latitude, longitude))

The geographical coordinates of Agincourt North are 43.682121699999996, -79.42383883756801.

In [76]:
latitude_list = []
longitude_list = []
for i in df_merged2['Neighbourhood']:
    address = i +',Toronto, ON, Canada'
    geolocator = Nominatim(user_agent="vic_explorer")
    location = geolocator.geocode(address)
    latitude_list.append(location.latitude)
    longitude_list.append(location.longitude)

coordinates = pd.DataFrame({'latitude': latitude_list, 'longitude': longitude_list})

AttributeError: 'NoneType' object has no attribute 'latitude'

In [78]:
latitude_list = []
longitude_list = []
address = 'Wychwood' +',Toronto, ON, Canada'
geolocator = Nominatim(user_agent="vic_explorer")
location = geolocator.geocode(address)
latitude_list.append(location.latitude)
longitude_list.append(location.longitude)

coordinates = pd.DataFrame({'latitude': latitude_list, 'longitude': longitude_list})

In [79]:
coordinates

    latitude  longitude
0  43.682122 -79.423839